#movie-result {
  background: #e26d5c;
  border: 5px solid #723d46;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#i-result {
  background: #96bbbb;
  border: 5px solid #723d46;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#color-result{
  background: #d4e09b;
  border: 5px solid #723d46;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}



hr {
  height: 5px;
  background-color: white;
}
body {background-color:#ffe1a8}

label{color:#723d46}
h1{color:#c8553d}

button{color:#c8553d}

em{color:#588b8b}